CROO_API_KEY=
CROO_API_URL=https://api.croo.network
CROO_WS_URL=wss://api.croo.network/ws
CROO_AGENT_ID=a09fbd47-7378-4ceb-82fb-a41c34973932
CROO_SERVICE_ID=53239e77-4aa9-4a7c-889a-2cfee4de37e0
REPORT_PRICE_USDC=0.10
